.register-main {
    width: 100%;
    height: 100%;
}

@media (min-width: 320px) {
    .register-main {
        width: 375px;
        height: 812px;
        top: -891px;
        left: -15px;
        gap: 0px;
        opacity: 0px;
    }

    .register-title-description {
        position: absolute;
        width: Fixed (327px) px;
        height: Hug (108px) px;
        top: 76px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
        font-family: Inter;
    }

    .register-heading-text {
        width: Fixed (327px) px;
        height: 80px;
        gap: 0px;
        opacity: 0px;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
    }

    .register-description {
        width: Fixed (327px) px;
        height: Hug (108px) px;
        top: 76px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #878787;
    }

    .register-email-input-field {
        position: absolute;
        width: Hug (327px) px;
        height: Hug (80px) px;
        top: 250px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
    }

    .register-email-text {
        width: 327px;
        height: 20px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .register-email-input {
        width: Fixed (327px) px;
        height: Hug (52px) px;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid #ededed;
        opacity: 0px;
    }

    .register-email-input input {
        width: 227px;
        height: Hug (52px) px;
        padding: 16px;
        border: none;
    }

    .register-email-input input::placeholder {
        width: 295px;
        height: 20px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .register-email-input input:focus {
        outline: none;
    }

    .register-username-field {
        position: absolute;
        width: Hug (327px) px;
        height: Hug (80px) px;
        top: 330px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
    }

    .register-input-field {
        position: absolute;
        width: Hug (327px) px;
        height: Hug (80px) px;
        top: 416px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
    }

    .register-text {
        width: 327px;
        height: 20px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .register-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: Fixed (327px) px;
        height: Hug (52px) px;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid #ededed;
        opacity: 0px;
    }

    .register-input input {
        width: 227px;
        height: Hug (52px) px;
        padding: 16px;
        border: none;
    }

    .register-input input::placeholder {
        width: 295px;
        height: 20px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    .register-input input:focus {
        outline: none;
    }

    .eye-icon {
        width: 20px;
        height: 20px;
        padding: 2.5px 2.05px 2.5px 2.05px;
    }

    .eye-icon img {
        width: 15.9px;
        height: 15px;
        top: 2.5px;
        left: 2.05px;
        gap: 0px;
        border: 2px 0px 0px 0px;
        opacity: 0px;
    }

    .register-checkbox {
        position: absolute;
        display: flex;
        align-items: center;
        width: Fixed (327px)px;
        height: Hug (40px)px;
        top: 498px;
        left: 24px;
        gap: 8px;
        opacity: 0px;
    }

    .register-checkbox input {
        width: 20px;
        height: 20px;
        padding: 5.83px 4.17px 5.83px 4.17px;
        gap: 0px;
        border-radius: 4px;
        opacity: 0px;
        background-color: #FE8C00;
    }
    .register-checkbox input[type="checkbox"] {
        background-color: #FE8C00;
    }
    
    /* Change background color when checked */
    .register-checkbox input[type="checkbox"]:checked {
        background-color: #FE8C00;
    }

    .register-checkbox p {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }
    .register-checkbox span{
        color: #FE8C00;

    }
    .error-input {
        border-color: red;
        color: red;
    }
    
    .error-checkbox {
        color: red;
    }
    
    .register-signIn-button button {
        position: absolute;
        width: 327px;
        height: Hug (52px)px;
        top: 562px;
        left: 24px;
        padding: 16px;
        gap: 8px;
        opacity: 0px;
        background-color: #FE8C00;
        border-radius: 100px;
        border: none;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }

    .register-Separator {
        position: absolute;
        width: Fixed (327px)px;
        height: Hug (20px)px;
        top: 638px;
        left: 24px;
        gap: 16px;
        opacity: 0px;
    }

    .register_Other_Method_Login {
        position: absolute;
        width: Fixed (327px)px;
        height: Hug (40px)px;
        top: 682px;
        left: 24px;
        gap: 16px;
        opacity: 0px;
    }

    .register {
        position: absolute;
        width: 216px;
        height: 24px;
        top: 752px;
        left: 80px;
        gap: 0px;
        opacity: 0px;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .register span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #FE8C00;
    }

    .register span a {
        color: inherit;
    }
}